<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>77072C79-C627-4554-ACE9-C6FA55473C5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8ACFF94C-5D76-4FF2-BF7C-79965C68D28A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEBBA624-A11B-45E1-B014-A5C5434DBCE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77072C79-C627-4554-ACE9-C6FA55473C5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>NavePnow</string>
	<key>description</key>
	<string>Add Fantastical entries with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fantastical</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fan</string>
				<key>subtext</key>
				<string>Create a new task or event</string>
				<key>text</key>
				<string>fan [event/task {List Name}/NULL] {Text}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DEBBA624-A11B-45E1-B014-A5C5434DBCE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>osascript -l JavaScript scripts/create.applescript.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77072C79-C627-4554-ACE9-C6FA55473C5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New Item Created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8ACFF94C-5D76-4FF2-BF7C-79965C68D28A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple Alfred 4 workflow for Fantastical.</string>
	<key>uidata</key>
	<dict>
		<key>77072C79-C627-4554-ACE9-C6FA55473C5E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8ACFF94C-5D76-4FF2-BF7C-79965C68D28A</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DEBBA624-A11B-45E1-B014-A5C5434DBCE8</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/NavePnow/Fantastical-Alfred-Workflow</string>
</dict>
</plist>
